@import '../../styles/variables';
nav {
  height: 50px;
  background: $color-primary;
  padding: 0 50px;
  position: fixed;
  width: 100%;
  min-width: 1120px;
  z-index: 3;
  top: 0;
  left: 0;
  box-shadow: 1px -1px 12px 2px #00008a;
  *{
    line-height: 1;
  }
}


.logo{
  height: 100%;
  float: left;
  width: 15%;
  a {
    height: 100%;
    display: inline-block;
    color: $color-secondary;
    line-height: 50px;
    font-size: 32px;
    font-family: 'Cabin Sketch', cursive;
    width: 100%;
    text-align: center;
  }
}


//color: #e82f62


.searchBar{
  width: 40%;
  padding: 7px 20px;
  float: left;
  position: relative;
  input {
    width: 100%;
    background: transparent;
    outline: 0;
    font-family: "Roboto", sans-serif;
    border: none;
    display: block;
    margin: 0;
    font-size: 15px;
    padding: 8px 24px 8px 40px;
  }
}


.search-wrapper{
  background-color: white;
  position: relative;
  border-radius: 5px;
  i {
    color: $dark-blue-1;
    position: absolute;
    font-size: 22px;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
  }
}

.nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  a {
    text-transform: uppercase;
    display: inline-block;
    height: inherit;
    line-height: 50px;
    vertical-align: middle;
    padding: 0 20px;
    color: $color-secondary;
    float: left;
    font-size: 13px;
    &:visited,
    &:link {
      text-decoration: none;
    }
  }
  &-link-active {
    &:before {
      visibility: visible !important;
      -webkit-transform: scaleX(1) !important;
      transform: scaleX(1) !important;
    }
  }
}

.auth-btns{
  width: 15%;
  height: 50px;
  display: inline-block;
  a {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 13px;
    padding: 5px 8px;
    border-radius: 3px;
    width: 50%;
    float: left;
    color: $color-secondary;
    img {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
  }
}

.navRight {
  width: 30%;
  float: left;
  height: 50px;
}

.user {
  height: 50px;
  width: 15%;
  float: right;
  line-height: 50px;
  margin-top: 5px;
  vertical-align: middle;
  &-name {
    color: $color-secondary;
    &:hover {
      cursor: pointer;
    }
  }
  a {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 13px;
    padding: 5px 8px;
    border-radius: 3px;
    width: 50%;
    float: left;
    color: $color-secondary;
    &:first-child {
      color: #15d2fd;
    }
    &:visited,
    &:link {
      text-decoration: none;
    }
    img {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
  }
}
