.CardBoxContainer {
  position: relative;
}

.CardBoxContent {
  padding: 1.5em 1.5em 1.5em 1.5em;
  border-color: rgb(232, 232, 232);
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-radius: 0px 0px 3px 3px;
  background: rgb(241, 241, 241);
}

.CardBoxTitleContainer {
  border-color: #df691a;
  border-radius: 3px 3px 0px 0px;
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  font-size: 14px;
  background-color: #df691a;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CardBoxTitle {
  color: white;
  margin: 0;
  font-family: "Cabin Sketch", cursive;
}
