default: &default
  adapter: mysql2
  encoding: utf8
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: root
  password: admin
  socket: /tmp/mysql.sock

development:
  <<: *default
  database: bootcamp_development

test:
  <<: *default
  database: bootcamp_test
production:
  <<: *default
  database: bootcamp_production
  username: bootcamp
  password: <%= ENV['BOOTCAMP_DATABASE_PASSWORD'] %>
