.CustomCard {
  width: calc(10vw);
  height: calc(15vw);
}

.CustomCardCover {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.CustomCard {
  position: relative;
  border-color: white;
  border-width: 2px 2px 2px 2px;
  border-style: solid;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
}

.CustomCard:hover {
  box-shadow: 0 2px 4px 1px;
  cursor: pointer;
}

.CustomCardCover {
}

.CustomCardTitle {
  padding: 2px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  text-align: center;
  font-size: calc(1.1vw);
}

.CustomCardRatingNo {
  padding: 2px;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: calc(1vw);
}

.CustomCardScore {
  padding: 2px;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: calc(1vw);
}

// @media only screen and (max-width: 1304px) {
//   .CustomCard .CustomCardCover {
//     width: 125px;
//     height: 190px;
//   }
// }

// @media only screen and (max-width: 1229px) {
//   .CustomCard .CustomCardCover {
//     width: 115px;
//     height: 180px;
//   }
// }

// @media only screen and (max-width: 1153px) {
//   .CustomCard .CustomCardCover {
//     width: 105px;
//     height: 170px;
//   }
// }
